<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Decks</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item class ="lista">Lista de todos os decks </ion-item>
    <h1>Clique para acessar as cartas:</h1>
  <ion-list>
    <ion-item *ngFor="let deckName of decks" (click)="goToDeck(deckName)">
      <ion-label>{{ deckName }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-content class="ion-padding">
  <div class="container" *ngFor="let flashcard of flashcards; let i = index">
    <div class="card" (click)="toggleCardRotation('card' + (i + 1))" [ngClass]="{'virado': isCardFlipped['card' + (i + 1)]}">
      <div class="front">{{ flashcard.pergunta }}</div>
      <div class="back">{{ flashcard.resposta }}</div>
    </div>
  </div>
</ion-content>

