body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

.card-wrapper {
    margin-bottom: 40px; /* Adicionando margem entre os cartões */
  }
.card {
    height: 340px;
    width: 250px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
    cursor: pointer; /* Adicionando cursor pointer para indicar que o cartão é clicável */
}

.front,
.back {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: 'Lobster', cursive;
    border-radius: 10px;
    position: absolute;
}

.front {
    background: linear-gradient(#08aeea, #2af598);
    z-index: 2;
    backface-visibility: hidden;
}

.back {
    background: linear-gradient(#f8da61, #ff5acd);
    z-index: 1;
    transform: rotateY(180deg);
}

.container .card.virado {
    transform: rotateY(180deg);
}

.container {
    perspective: 1000px;
}


.card.virado {
    transform: rotateY(180deg);
}
.card {
    position: relative;
    margin-bottom: 25px; /* Adicionando margem entre os cartões */
  }
  
  .button-group {
    margin-top: auto; /* Move o grupo de botões para a parte inferior do cartão */
  }
  
  
  .delete-button{
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: 5px; /* Adicionando margem entre os botões */
  }
  .update-button {
    background-color: rgb(177, 169, 169);
    color: rgb(17, 16, 16);
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: 5px; /* Adicionando margem entre os botões */
  }